@import './src/normalize.css'

.fleft  { float: left }
.fright { float: right }

.flex-row, .flex-col { overflow: hidden; position: absolute }
.flex-row { left:0; right:0; }
.flex-col { top: 0; bottom: 0; }
.scroll-x, .scroll-y { -webkit-overflow-scrolling: touch }
.scroll-x { overflow-x : auto }
.scroll-y { overflow-y : auto }

.component {
    margin: 0 8px
}

img {
    width: 100%
    height: auto
}

$colorBlueBright = rgb(250,252,253)
$colorBlueLight  = rgb(119,166,198)
$colorBlueDark   = rgb(97,136,162)

$sidebarWidth     = 240px
$siteFooterHeight = 0px


// layout
#site-header,
#site-main,
#site-footer {
    @extend .flex-row
}

#site-header {
    padding: 8px 0
    background: $colorBlueLight
    color:white

    .logo {
        position: relative
        top: -4px
        height:  20px
        width: 106px
        float: right
        @extend .component
    }
}

#site-main {
    top: 46px
    bottom: $siteFooterHeight
}

#site-footer {
    height: $siteFooterHeight
    bottom: 0
}


// styling
#site-header {
    height: 30px

    .search {
        @extend .component

        width         : 300px
        background    : $colorBlueDark
        color         : white
        border        : 0
        border-radius : 2px
        padding       : 8px 10px
        font-size     : 0.7rem
    }

    ::-webkit-input-placeholder {
        color: #eee;
    }

    :-moz-placeholder { /* Firefox 18- */
        color: #eee;
    }

    ::-moz-placeholder {  /* Firefox 19+ */
        color: #eee;
    }

    :-ms-input-placeholder {  
        color: #eee;
    }
}
 
#site-content {
    @extend .flex-col
    left       : $sidebarWidth
    right      : 0
    height     : 100%
    overflow-y : scroll

    & > * {
        padding: 20px
    }
}

.header-sidebar-col {
    float  : left
    width  : $sidebarWidth
    height : 100%
}

#site-sidebar {
    @extend .flex-col
    width: $sidebarWidth
    background: $colorBlueBright
    box-shadow: 2px 0 6px 0 rgba(0,0,0,0.1)

    a, a:hover {
        color           : $colorBlueDark
        font-weight     : bold
        text-decoration : none
    }

    & > * {
        padding: 20px
    }

    ul {
        list-style : none
        margin     : 0
    }
}

